body { font-family: sans-serif; padding: 40px; background-color: #f4f4f4; }
h1 { color: #2c3e50; }
input { padding: 10px; border-radius: 5px; border: 1px solid #ccc; }
button { padding: 10px; background: green; color: white; border: none; cursor: pointer; }
ul { margin-top: 20px; }
li { background: white; margin: 5px 0; padding: 10px; list-style: none; border-radius: 5px; }